* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight : weight;
    font-style : normal;
}

nav {
    background-color: rgb(54, 54, 54);
    display: flex;
}

ul {
    list-style: none;
    margin-left: 900px;
    padding-top: 30px;
}

li {
    display: inline;
    margin: 10px;
}

a:hover {
    color: yellow;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: rgb(226, 226, 226);

  }

#theme {
    background-image: url(https://france3-regions.francetvinfo.fr/image/3spQJhlc9Yd0_z8_WkzWENhW4c0/4032x3024/regions/2021/07/29/6102cf449e55c_img-2657-5412047.jpg);
    height : 400px;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.destinations {
    margin: 100px;
    height: 1500px;
}

h2 {
    margin: 50px;
}

.zones {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;

}

.afrique {
    height: 450px;
    width: 300px;    
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
}

.asie {
    height: 450px;
    width: 300px;   
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
}

.europe {
    height: 450px;
    width: 300px;   
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
}


.details {
    margin: 20px;
    line-height: 30px;
    text-align : center;
}

p.zonetitle {
    font-size: 20px;
    color: brown;
}

span {
    color: goldenrod;
}

.confianceblock {
    display: flex;
}