* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(54, 54, 54);
    display: flex;
}

ul {
    list-style: none;
    margin-left: 950px;
    padding-top: 30px;
}

li {
    display: inline;
    margin: 10px;
}

a:hover {
    color: yellow;
}

a {
    text-decoration: none;
    color: white;
}

#hero {
    background: url(assets/houseofsea.jpg) no-repeat;   
    background-size: cover; 
    height: 450px;
    color: white;
    text-align: center;
    padding-inline: 500px;
    font-size: 1.5em;
}

.text {
    padding-top: 100px;
}
h2 {
color: gold;
font-weight: 900;
font-size: 2em;
}
h1 {
    font-weight: 900;
    font-size: 2.5em;
}

.dealler {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.textdeco {
    text-align: center;
    padding: 32px;
}

hr {
    height: 3px;          
    background-color: black; 
    width: 20%;           
    margin: 20px auto;    
}

.tuile {
    background-color: white;
}

body {
    background-color: rgb(222, 222, 222);
}

h3 {
    margin: 50px;
    margin-left: 180px;
    font-size: 2em;
}

span {
    color: gold;
}